.DS_Store
.idea
.vscode
*.log
*.iml
.env
.env.local
.env.production

node_modules/
.output/
.tanstack/
.nuxt/

/app/node_modules/
/app/.output/
/app/.tanstack/
/app/src/routeTree.gen.ts

.clickhouse_db_vol/
.clickhouse_db_vol*
tmp/
dist/
coverage/
